<div class="panelheader">{{localize "gemengine.labels.aspects"}}</div>
<div class="new-row">
    <div class="flexblock-left"><input name="data.aspect0" value="{{data.aspect0}}" type="text"
            class="input-free aspect00" attid="cDr8XiAhPwVMdytH"></div>
    <div class="flexblock-left"><input name="data.aspect1" value="{{data.aspect1}}" type="text"
            class="input-free aspect01" attid="98ipiN1sfubfFIeq"></div>
    <div class="flexblock-left"><input name="data.aspect2" value="{{data.aspect2}}" type="text"
            class="input-free aspect02" attid="2IucM8WUrr3uld4J"></div>
    <div class="flexblock-left"><input name="data.aspect3" value="{{data.aspect3}}" type="text"
            class="input-free aspect03" attid="Z8ueNr11vlWKD24C"></div>
    <div class="flexblock-left"><input name="data.aspect4" value="{{data.aspect4}}" type="text"
            class="input-free aspect04" attid="5oP8jnXKjxNYO7UN"></div>
</div>