<div class="panelheader-atb">{{localize "gemengine.labels.attributes"}}</div>
<div class="new-row atb">
    <table>
        <tr>
            <td>
                <h3 class="centertext label-free boldtext" id="aura" attid="Hfefw9wdmutlSN6Z"><a class="item-roll-atb" data-label="aura" title="{{localize "gemengine.attributes.aura"}}">{{localize "gemengine.att.aura"}}</a></h3>
            </td>
            <td class="flexblock-left">
                <select class="input-med aura" name="data.aura" attid="Hfefw9wdmutlSN6Z">
                    {{#select data.aura}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <h3 class="centertext label-free boldtext" id="instinto" attid="PeemFLe6318G5spI"><a class="item-roll-atb" data-label="instinct" title="{{localize "gemengine.attributes.instinct"}}">{{localize "gemengine.att.instinct"}}</a></h3>
            </td>
            <td class="flexblock-left">    
                <select class="input-med instinto" name="data.instinct" attid="PeemFLe6318G5spI">
                    {{#select data.instinct}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="centertext label-free boldtext" id="disciplina" attid="819ZQ80PWmieUgDa"><a class="item-roll-atb" data-label="discipline" title="{{localize "gemengine.attributes.discipline"}}">{{localize "gemengine.att.discipline"}}</a></h3>
            </td>
            <td class="flexblock-left">
                <select class="input-med disciplina" name="data.discipline" attid="819ZQ80PWmieUgDa">
                    {{#select data.discipline}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>    
            </td>
            <td>
                <h3 class="centertext label-free boldtext" id="mania" attid="hXOmunIaTSR5X0W5"><a class="item-roll-atb" data-label="skill" title="{{localize "gemengine.attributes.skill"}}">{{localize "gemengine.att.skill"}}</a></h3>
            </td>
            <td class="flexblock-left">                
                <select class="input-med mania" name="data.skill" attid="hXOmunIaTSR5X0W5">
                    {{#select data.skill}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="centertext label-free boldtext" id="potencia" attid="tXM2DvzrzhftaCV6"><a class="item-roll-atb" data-label="power" title="{{localize "gemengine.attributes.power"}}">{{localize "gemengine.att.power"}}</a></h3>
            </td>
            <td class="flexblock-left">                
                <select class="input-med potencia" name="data.power" attid="tXM2DvzrzhftaCV6">
                    {{#select data.power}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <h3 class="centertext label-free boldtext" id="mente" attid="dTuXr4bKEubMKzA5"><a class="item-roll-atb" data-label="mind" title="{{localize "gemengine.attributes.mind"}}">{{localize "gemengine.att.mind"}}</a></h3>
            </td>
            <td class="flexblock-left">
                <select class="input-med mente" name="data.mind" attid="dTuXr4bKEubMKzA5">
                    {{#select data.mind}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <h3 class="centertext label-free boldtext" id="resistencia" attid="XdlSiFHLOGqWFJ48"><a class="item-roll-atb" data-label="resist" title="{{localize "gemengine.attributes.resist"}}">{{localize "gemengine.att.resist"}}</a></h3>
            </td>
            <td class="flexblock-left">
                <select class="input-med resistencia" name="data.resist" attid="XdlSiFHLOGqWFJ48">
                    {{#select data.resist}}
                    {{#each config.diceTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td >
                <h3 class="centertext label-free boldtext" id="stars" title="{{localize "gemengine.attributes.star"}}">{{localize "gemengine.att.star"}}</h3>
            </td>
            <td class="flexblock-left">
                <div class="badge-container">
                    <a class="badge-image token">
                        <i class="badge-click">{{data.stars}}</i>
                    </a>
                    <a class="badge-click-plus">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>