<div class="new-row">
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="nombre" attid="jhnELd4FXi9V3HKi">{{localize "gemengine.data.name"}}</h3><input
            name="data.characterName" value="{{data.characterName}}" type="text" class="input-free nombre"
            attid="jhnELd4FXi9V3HKi">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="concepto" attid="aImxxOy8HMIVizZc">{{localize "gemengine.data.concept"}}</h3><input
            name="data.concept" value="{{data.concept}}" type="text" class="input-free concepto"
            attid="aImxxOy8HMIVizZc">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="naturaleza" attid="iyREbCDtexW8uCrj">{{localize "gemengine.data.nature"}}</h3><input
            name="data.nature" value="{{data.nature}}" type="text" class="input-free naturaleza"
            attid="iyREbCDtexW8uCrj">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="motivacion" attid="UjkxmS6tboFovIF5">{{localize "gemengine.data.motivation"}}</h3><input
            name="data.motivation" value="{{data.motivation}}" type="text" class="input-free motivacion"
            attid="UjkxmS6tboFovIF5">
    </div>
    <div class="flexblock-left">
        <h3 class="righttext label-free boldtext" id="lema" attid="2hVAZNMG554jsXBb">{{localize "gemengine.data.motto"}}</h3><input
            name="data.motto" value="{{data.motto}}" type="text" class="input-free lema" attid="2hVAZNMG554jsXBb">
    </div>
    <div class="flexblock-center top-border">
        <h3 class="righttext label-free boldtext" id="initiative">{{localize "gemengine.attributes.initiative"}}</h3>
        <input name="data.initiative" value="{{data.initiative}}" type="number" class="centertext input-free initiative">
        <h3 class="righttext label-free boldtext" id="size">{{localize "gemengine.attributes.size"}}</h3>
        <input name="data.size" value="{{data.size}}" type="number" class="centertext input-free size">
        <h3 class="righttext label-free boldtext" id="mov">{{localize "gemengine.attributes.mov"}}</h3>
        <input name="data.mov" value="{{data.mov}}" type="number" class="centertext input-free mov">
    </div>

</div>
