{{#if (eq type "weapon")}}
        <div class="flexblock-left item" data-item-id="{{_id}}">
            <a class="item-delete" data-type="talent" style="position:absolute;margin-top:7px;margin-left:-12px;"><i class="fas fa-minus-square"></i></a>
            <input value="{{name}}" data-field="name" type="text" class="input-large talentName item-edit" readonly>
            <input value="{{data.effect}}" data-field="data.effect" type="text" class="input-large equipFx inline-edit">
            <select data-field="data.bonus" class="input-med inline-edit">
            <option value="d4" {{#if (eq data.bonus "d4")}} selected="" {{/if}} >d4</option>
            <option value="d6" {{#if (eq data.bonus "d6")}} selected="" {{/if}} >d6</option>
            <option value="d8" {{#if (eq data.bonus "d8")}} selected="" {{/if}} >d8</option>
            <option value="d10" {{#if (eq data.bonus "d10")}} selected="" {{/if}} >d10</option>
            <option value="d12" {{#if (eq data.bonus "d12")}} selected="" {{/if}} >d12</option>
            </select>
        </div>
{{else if (eq type "armor")}}
        <div class="flexblock-left item" data-item-id="{{_id}}">
            <a class="item-delete" data-type="talent" style="position:absolute;margin-top:7px;margin-left:-12px;"><i class="fas fa-minus-square"></i></a>
            <input value="{{name}}" data-field="name" type="text" class="input-large talentName item-edit" readonly>
            <input value="{{data.effect}}" data-field="data.effect" type="text" class="input-large equipFx inline-edit">
            <select data-field="data.bonus" class="input-med inline-edit">
            <option value="d4" {{#if (eq data.bonus "d4")}} selected="" {{/if}} >d4</option>
            <option value="d6" {{#if (eq data.bonus "d6")}} selected="" {{/if}} >d6</option>
            <option value="d8" {{#if (eq data.bonus "d8")}} selected="" {{/if}} >d8</option>
            <option value="d10" {{#if (eq data.bonus "d10")}} selected="" {{/if}} >d10</option>
            <option value="d12" {{#if (eq data.bonus "d12")}} selected="" {{/if}} >d12</option>
            </select>
        </div>
{{else if (eq type "artifact")}}
        <div class="flexblock-left item" data-item-id="{{_id}}">
            <a class="item-delete" data-type="talent" style="position:absolute;margin-top:7px;margin-left:-12px;"><i class="fas fa-minus-square"></i></a>
            <input value="{{name}}" data-field="name" type="text" class="input-large talentName item-edit" readonly>
            <input value="{{data.effect}}" data-field="data.effect" type="text" class="input-large equipFx inline-edit">
            <select data-field="data.bonus" class="input-med inline-edit">
            <option value="d4" {{#if (eq data.bonus "d4")}} selected="" {{/if}} >d4</option>
            <option value="d6" {{#if (eq data.bonus "d6")}} selected="" {{/if}} >d6</option>
            <option value="d8" {{#if (eq data.bonus "d8")}} selected="" {{/if}} >d8</option>
            <option value="d10" {{#if (eq data.bonus "d10")}} selected="" {{/if}} >d10</option>
            <option value="d12" {{#if (eq data.bonus "d12")}} selected="" {{/if}} >d12</option>
            </select>
        </div>
{{/if}}