<div class="panelheader">{{localize "gemengine.labels.condition"}}</div>
<div class="new-row">
    <div class="flexblock-center">
        <h3 class="centertext label-free boldtext" id="fatiga" attid="p9SZmBceGGm9pUOX">{{localize "gemengine.health.fatigue"}}</h3>
        <div class="radio-input fatiga" name="fatiga" attid="p9SZmBceGGm9pUOX"><a clickvalue="0"
                class="radio-element" style="font-size: 14px;"><i class="far fa-times-circle"></i></a><a
                clickvalue="1" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="2" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="3" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="4" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a><a
                clickvalue="5" class="radio-element" style="font-size: 14px;"><i class="far fa-circle"></i></a>
        </div>
    </div>
    <table class="state">
        <tbody>
            <tr>
                <td>
                    <h3 class="centertext label-chiki lefttext" id="herido" attid="YEmDGm8U149xKOjh">{{localize "gemengine.health.injured"}} (1-2)</h3>
                </td>
                <td>
                    <input name="data.injured" value="{{data.injured}}" type="text" class="input-free" attid="YEmDGm8U149xKOjh">
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="centertext label-chiki lefttext" id="malherido" attid="Yy6fk0Wc1BA0zN8w">{{localize "gemengine.health.badlyinjured"}} (3-4)</h3>
                </td>
                <td>
                    <input name="data.badlyinjured" value="{{data.badlyinjured}}" type="text" class="input-free" attid="Yy6fk0Wc1BA0zN8w">
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="centertext label-chiki lefttext" id="moribundo" attid="JD6qFGAUcyrINH70">{{localize "gemengine.health.dying"}} (5+)</h3>
                </td>
                <td>
                    <input name="data.dying" value="{{data.dying}}" type="text" class="input-free" attid="JD6qFGAUcyrINH70">
                </td>
            </tr>
        </tbody>
    </table>
</div>