    {{#if (eq type "talent")}}
    <div class="flexblock-left" data-item-id="{{id}}">
        <input name="data.item.name" value="{{name}}" type="text" class="input-large talentName" readonly>
        <!--<select name="data.bonus" class="input-med talentValue">
            {{#select data.bonus}}
            {{#each config.diceTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>-->
        <select name="data.bonus" class="input-med talentValue">
            <option value="d4" {{#if (eq data.bonus "d4")}} selected="" {{/if}} >d4</option>
            <option value="d6" {{#if (eq data.bonus "d6")}} selected="" {{/if}} >d6</option>
            <option value="d8" {{#if (eq data.bonus "d8")}} selected="" {{/if}} >d8</option>
            <option value="d10" {{#if (eq data.bonus "d10")}} selected="" {{/if}} >d10</option>
            <option value="d12" {{#if (eq data.bonus "d12")}} selected="" {{/if}} >d12</option>
        </select>
        <input name="data.currentPx" type="text" value="{{data.currentPx}}" class="input-ahalf talentPx" data-dtype="Number">
        <input name="data.maxPx" type="text"  value="{{data.maxPx}}" class="input-bhalf input-disabled inputGM talentPx.max" data-dtype="Number">
    </div>
    {{/if}}