<div class="sheet-content">

<table>
    <tr>
        <th>{{localize "gemengine.roll.attribute"}}</th>
        <th>{{localize "gemengine.roll.talent"}}</th>
        <th>{{localize "gemengine.roll.item"}}</th>
        <th>{{localize "gemengine.roll.aspect"}}</th>
        <th>{{localize "gemengine.roll.mod"}}</th>
    </tr>
    <tr>
        <td>
            <select id="attribute" style="width: 100%;">
                {{#select attribute}}
                    <option value="-" {{#if (eq attribute "-")}} selected {{/if}}>-</option>
                    <option value="{{actor.data.data.power}}" {{#if (eq attribute "power")}} selected {{/if}}>{{localize "gemengine.attributes.power"}}</option>
                    <option value="{{actor.data.data.mind}}" {{#if (eq attribute "mind")}} selected {{/if}}>{{localize "gemengine.attributes.mind"}}</option>
                    <option value="{{actor.data.data.discipline}}" {{#if (eq attribute "discipline")}} selected {{/if}}>{{localize "gemengine.attributes.discipline"}}</option>
                    <option value="{{actor.data.data.skill}}" {{#if (eq attribute "skill")}} selected {{/if}}>{{localize "gemengine.attributes.skill"}}</option>
                    <option value="{{actor.data.data.aura}}" {{#if (eq attribute "aura")}} selected {{/if}}>{{localize "gemengine.attributes.aura"}}</option>
                    <option value="{{actor.data.data.instinct}}" {{#if (eq attribute "instinct")}} selected {{/if}}>{{localize "gemengine.attributes.instinct"}}</option>
                    <option value="{{actor.data.data.resist}}" {{#if (eq attribute "resist")}} selected {{/if}}>{{localize "gemengine.attributes.resist"}}</option>
                {{/select}}
            </select>
        </td>
        <td>
            <select id="talentId" style="width: 100%;">
                {{#select talentId}}
                <option value="-" {{#if (eq talentId "-")}} selected {{/if}}>-</option>
                {{#each actor.items as |item id|}}
                {{#if (eq item.type "talent")}}
                <option value="{{item.data.data.bonus}}" {{#ifEqual ../talentId _id}}selected{{/ifEqual}} data-item-id="{{_id}}">{{item.name}}</option>
                {{/if}}
                {{/each}}
                {{/select}} 
            </select>
        </td>
        <td>
            <select id="equip" style="width: 100%;">
                {{#select equip}}
                <option value="-">-</option>
                {{#each actor.items as |item id|}}
                {{#if (eq item.type "artifact")}}
                <option value="{{item.data.data.bonus}}" {{#ifEqual ../equip _id}}selected{{/ifEqual}}>{{item.name}}</option>
                {{else if (eq item.type "weapon")}}
                <option value="{{item.data.data.bonus}}" {{#ifEqual ../equip _id}}selected{{/ifEqual}}>{{item.name}}</option>
                {{else if (eq item.type "armor")}}
                <option value="{{item.data.data.bonus}}" {{#ifEqual ../equip _id}}selected{{/ifEqual}}>{{item.name}}</option>
                {{/if}}
                {{/each}}
                {{/select}}
            </select>
        </td>
        <td style="text-align: center;">
            <input id="aspect" value="d6" type="checkbox" {{#if (eq aspect true)}} checked {{/if}}/>
        </td>
        <td style="text-align: center;">
            <select id="mod" style="width: 100%;">
                {{#select mod}}
                <option value="-" {{#if (eq mod "-")}} selected {{/if}} >-</option>
                <option value="d4" {{#if (eq mod "d4")}} selected {{/if}} >d4</option>
                <option value="d6" {{#if (eq mod "d6")}} selected {{/if}} >d6</option>
                <option value="d8" {{#if (eq mod "d8")}} selected {{/if}} >d8</option>
                <option value="d10" {{#if (eq mod "d10")}} selected {{/if}} >d10</option>
                <option value="d12" {{#if (eq mod "d12")}} selected {{/if}} >d12</option>
                <option value="d20" {{#if (eq mod "d20")}} selected {{/if}} >d20</option>
                {{/select}}
            </select>
        </td>
    </tr>
</table>

</div>

