<table>
    <tr>
        <th class="chat-label-header">{{localize "gemengine.roll.successes"}}</th>
        <th class="chat-label-header">{{localize "gemengine.roll.difficulty"}}</th>
    </tr>
    <tr>
        <td class="chat-label {{#ifGreater goal this.result}}chat-red{{else}}chat-green{{/ifGreater}}">{{result}}</td>
        <td class="chat-label">{{goal}}</h4></td>
    </tr>
</table>

<table>
    {{#difMoreThanZero result goal}}
    <tr>
        <th class="chat-label-header-full chat-green">{{localize "gemengine.roll.feats"}}</th>
    </tr>
    <tr>
        <td class="chat-label-full chat-green">{{dif result goal}}</td>
    </tr>
    {{/difMoreThanZero}}

    {{#difMoreThanZero goal result}}
    <tr>
        <th class="chat-label-header-full chat-red">{{localize "gemengine.roll.threats"}}</th>
    </tr>
    <tr>
        <td class="chat-label-full chat-red">{{dif goal result}}</td>
    </tr>
    {{/difMoreThanZero}}
</table>

{{#if this.canReroll}}
<button class="chat-reroll-button"
    data-actor-id="{{actorId}}"
    data-label="{{label}}"
    data-baseJson="{{baseJson}}"
    data-goal="{{goal}}"
    data-baseResult="{{baseResult}}"
    data-rerollPoolString="{{rerollPoolString}}">{{localize "gemengine.roll.reroll"}}</button>
{{/if }}